---
export interface Props {
  src: string
  title: string
  by: string
  description: string
}

const { src, title, by, description } = Astro.props
---

<div class="w-78 lg:w-auto h-[39rem] text-[var(--color-primary)] overflow-hidden flex flex-col">
    <div class="aspect-[4/5] w-full overflow-hidden">
      <img src={src} alt={title} class="h-full w-full object-cover" />
    </div>
  
    <div class="p-4 flex-1 overflow-y-auto">
      <h3 class="text-lg font-bold">{title}</h3>
      <p class="text-sm underline pb-1">by {by}</p>
      <p class="text-sm leading-relaxed">{description}</p>
    </div>
  </div>